
@model ToDoList.Infrastructure.Models.ToDo

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <br>
    <br>
    <br>
    <div class="text-center">
        <h1 class="display-4">Edit Task Details</h1>

        <form asp-action="Edit">
            <div class="row">
                <div class="col">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </form>
        <br/>
        <div class="row">
            <div class="col">
                <a class="btn btn-danger" asp-action="Index">Back to List</a>
            </div>   
        </div>
    </div>
</div>

