@model List<ToDo>

<div class="container">

    <div style="padding-top: 20px;" class="text-center">
        <h1 class="display-6">ToDoList task Implementation</h1>
    </div>
    <div class="row, col-md-2 text-lg-start" style="padding-bottom: 10px">
        <a class="btn btn-success" asp-action="Create">
            <i class="bi bi-patch-plus"></i> New Task
        </a>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width:70%"> Description </th>
                <th style="width:15%"> To do date </th>
                <th> Action </th>
            </tr>
            </thead>
            <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.Title </td>
                    <td> @item.DateTime </td>
                    <td>
                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                            <i class="bi bi-x-square"></i> Delete
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>   
    </div>
</div>
