@model System.Collections.Generic.List<ToDoList.Infrastructure.Models.ToDo>

<div class="container">
    <br>
    <br>
    <br>
    <div class="text-center">
        <h1 class="display-4">ToDoList task Implementation</h1>
    </div>
    <div class="row">
        <div class="col-md-3 offset-md-0 text-lg-start">
            <p>
                <a class="btn btn-success" asp-action="Create">
                    <i class="bi bi-patch-plus"></i> New Task
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width:5%"> Id </th>
                <th style="width:75%"> Description </th>
                <th> Action </th>
            </tr>
            </thead>
            <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.Id </td>
                    <td> @item.Name </td>
                    <td>
                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>

                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                            <i class="bi bi-x-square"></i> Delete
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>   
    </div>
</div>
