<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="logfileAll" xsi:type="File" fileName="${basedir}/logs/${shortdate} - alllogs.logs"
				layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${newline}" />
		<target name="logfileFromWarn" xsi:type="File" fileName="${basedir}/logs/${shortdate} - fromWarn.logs"
		        layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${stacktrace} | ${message} ${newline}" />
		<target name="logconsole" xsi:type="Console" 
				layout="${longdate} | ${uppercase:${level}} | ${message} ${newline}" />
	</targets>

	<rules>
		<logger name="*" minlevel="trace" writeTo="logfileAll" />
		<logger name="*" minlevel="Warn" writeTo="logfileFromWarn" />
		<logger name="*" level="info, fatal" writeTo="logconsole" />
	</rules>
</nlog>