@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    
    <br>     <br>     <br>
    <h1 class="display-4">ToDoList task Requirements</h1>

    <p>Create MVC application to perform next actions</p>
    <p>• A user should be able to add a new task to a list that contains a title.</p>
    <p>• A user should be able to edit a task.</p>
    <p>• A user should be able to delete a task.</p>

    <input type="button" class="btn btn-primary btn-lg"  value="Actual implementation" onclick="@("window.location.href='" + @Url.Action("index", "ToDo") + "'");" />
</div>